
# Created by https://www.toptal.com/developers/gitignore/api/c++,codeblocks
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,codeblocks

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
# generated directories
bin/
obj/

# End of https://www.toptal.com/developers/gitignore/api/c++,codeblocks

CppCheckResults.xml

drafts/

# Created by https://www.toptal.com/developers/gitignore/api/matlab
# Edit at https://www.toptal.com/developers/gitignore?templates=matlab

### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# End of https://www.toptal.com/developers/gitignore/api/matlab