---
name: cpp_address_sanitizer

'on':
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'cpp/**'
      - '.github/workflows/cpp_address_sanitizer.yml'
  pull_request:

env:
  build_type: Release
  build_path: ${{github.workspace}}/cpp/build

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        compiler: [g++, clang++]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Display versions
        run: |
          ${{matrix.compiler}} --version
          cmake --version

      - name: Install boost
        run: |
          sudo apt-get install libboost-all-dev
      - name: Create Build Environment
        run: cmake -E make_directory ${{env.build_path}}

      - name: Configure CMake
        shell: bash
        working-directory: ${{env.build_path}}
        run: >
          cmake ../
          -D CMAKE_BUILD_TYPE=${{env.build_type}}
          -D CMAKE_CXX_COMPILER=${{matrix.compiler}}
          -D ENABLE_BOOST_TESTS=ON -D ENABLE_TESTING=ON
          -D ENABLE_SANITIZER_ADDRESS=ON

      - name: Build
        working-directory: ${{env.build_path}}
        shell: bash
        run: cmake --build . --config ${{env.build_type}}

      - name: Test
        working-directory: ${{env.build_path}}
        shell: bash
        run: ctest -C $build_type
...
