---
name: cpp_build_ubuntu

'on':
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'cpp/**'
      - '.github/workflows/cpp_build_ubuntu.yml'
  pull_request:
  schedule:
    - cron: '20 0 1,10,20 * 0'

env:
  build_path: ${{github.workspace}}/cpp/build

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        compiler:
          - g++
          - clang++
        build_type: [Release, Debug]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Display versions
        run: |
          ${{matrix.compiler}} --version
          cmake --version

      - name: Install boost
        run: |
          sudo apt-get install libboost-all-dev

      - name: Display boost version
        run: |
          dpkg -s libboost-dev | grep Version

      - name: Create Build Environment
        run: cmake -E make_directory ${{env.build_path}}

      - name: Configure CMake
        shell: bash
        working-directory: ${{env.build_path}}
        run: >
          cmake ../
          -D CMAKE_BUILD_TYPE=${{matrix.build_type}}
          -D CMAKE_CXX_COMPILER=${{matrix.compiler}}

      - name: Build with ${{matrix.compiler}}
        working-directory: ${{env.build_path}}
        shell: bash
        run: cmake --build . --config ${{matrix.build_type}}

      - name: Test
        working-directory: ${{env.build_path}}
        shell: bash
        run: ctest -C ${{matrix.build_type}}
...
