---
name: cpp_check_include_guards

'on':
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'cpp/**'
      - '.github/workflows/cpp_check_include_guards.yml'
  pull_request:

jobs:
  include-guards:
    name: Check include guards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check include guards
        uses: sbeyer/include-guards-check-action@v2.0.0
        with:
          path: 'cpp/'
          pattern: '{file}_INCLUDED'
...
