---
name: sonar_cloud_check

'on':
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

jobs:
  sonarcloud:
    name: Build (sonarCloud)
    runs-on: ubuntu-24.04
    env:
      BUILD_PATH: "cpp/build"
      BUILD_WRAPPER_OUT_DIR: build_wrapper_output_directory
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install boost
        run: |
          sudo apt-get update
          sudo apt-get install libboost-all-dev

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Create virtual environment
        run: |
          python3 -m venv ./venv
          source ./venv/bin/activate
          echo "PATH=${PATH}" >> "${GITHUB_ENV}"

      - name: Install gcovr
        shell: bash
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install gcovr

      - name: Install sonar-scanner and build-wrapper
        uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v7

      - name: Run build-wrapper
        run: |
          mkdir ${{ env.BUILD_PATH }}
          cmake \
            -S cpp/ \
            -B ${{ env.BUILD_PATH }} \
            -D CMAKE_BUILD_TYPE=Debug \
            -D CMAKE_CXX_COMPILER=g++
          build-wrapper-linux-x86-64 \
            --out-dir ${{ env.BUILD_WRAPPER_OUT_DIR }} \
          cmake --build ${{ env.BUILD_PATH }} --config Debug

      - name: Generate coverage data xml report
        run: |
          cd cpp/scripts
          ./generate_raw_coverage_data_gxx.sh
          ./run_gcovr_sonarqube.sh

      - name: Run sonar-scanner
        if: "! github.event.pull_request.head.repo.fork "
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        # yamllint disable rule:line-length
        with:
          args: >
            "-Dsonar.cfamily.compile-commands=${{ env.BUILD_WRAPPER_OUT_DIR }}/compile_commands.json"
        # yamllint enable rule:line-length
